.content {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}
.figure-image img {
    max-width: 100%;
    display: block;
}
.caption {
    text-align: center;
    border-radius: 5px;
    bottom: 20px;
    padding: 0 12px;
    font-size: 14px;
}

p,
ul,
ol,
blockquote {
    margin-top: 60px;
    margin-bottom: 60px;
}
a {
    color: black;
}
